#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
  chosen {
    zmk,matrix_transform = &five_column_transform;
  };
};

&lt {
  flavor = "balanced";
};

&mt {
  flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 9>;
            bindings = <&out OUT_TOG>;
        };
    };
};

/ {
  keymap {
    compatible = "zmk,keymap";
    default_layer {
      label = "BASE";
      bindings = <
        &kp Q &kp W &kp F &kp P &kp B &kp J &kp L &kp U &kp Y &kp SEMI
        &kp A &kp R &kp S &kp T &kp G &kp M &kp N &kp E &kp I &kp O
        &kp Z &mt LALT X &mt LCMD C &mt LCTRL D &kp V &kp K &mt RCTRL H &mt RCMD COMMA &mt RALT DOT &kp SLASH
        &tog 1 &kp LSHFT &kp BSPC &kp TAB &lt 1 SPACE &kp ENTER
      >;
    };

    raise_layer {
      label = "RAISE";
      bindings = <
        &kp GRAVE &kp N7 &kp N8 &kp N9 &kp BSLH &kp ESC &kp LA(LEFT) &kp UP &kp LA(RIGHT) &trans
        &kp APOS &kp N4 &kp N5 &kp N6 &kp LPAR &kp LBKT &kp LEFT &kp DOWN &kp RIGHT &kp MINUS
        &kp N0 &mt LALT N1 &mt LCMD N2 &mt LCTRL N3 &kp RPAR &kp RBKT &mt RCTRL EQUAL &trans &trans &trans
        &trans &trans &trans &trans &trans &trans
      >;
    };
  };
};
